# Практическое занятие 1
## Компьютерный практикум по алгебре на Python

https://docs.sympy.org/latest/tutorial/intro.html

In [23]:
#Вначале для простоты будем подключать модуль sympy целиком
from sympy import *

## Действия с числами, числовые выражения
Об основных типах данных Python 3.10 читайте здесь:
https://docs.python.org/3/reference/datamodel.html#index-19

Сейчас нам понадобятся типы:

int - целое число (насколько большим оно может быть, зависит только от объема доступной памяти)

float - вещественное число (double precision floating point numbers)

### Пример 1.
Сумма, разность, произведение чисел 3000 и 50000 и квадрат 3000 ($3000^2$). 

Для вывода результата в colab можно просто на последней строке написать, что нужно выводить.

In [24]:
3000 + 50000, 3000 - 50000, 3000 * 50000, 3000 ** 2

(53000, -47000, 150000000, 9000000)

Для более информативного вывода используем встроенную функцию print.

In [25]:
print('3000 + 50000 =', 3000 + 50000, '3000 - 50000 =', 3000 - 50000,
      '3000 * 50000 =', 3000 * 50000, '3000 ** 2 =', 3000 ** 2)

3000 + 50000 = 53000 3000 - 50000 = -47000 3000 * 50000 = 150000000 3000 ** 2 = 9000000

Еще более красивый вывод получается с использованием формата строк:

In [26]:
print(f'3000 + 50000 = {3000 + 50000}, 3000 - 50000 = {3000 - 50000}, 3000 * 50000 = {3000 * 50000}, 3000 ** 2 = {3000 ** 2}')

3000 + 50000 = 53000, 3000 - 50000 = -47000, 3000 * 50000 = 150000000, 3000 ** 2 = 9000000

В f-строке содержимое фигурных скобок заменяется на его значение.

Для переноса строки внутри вызова функции print можно использовать """ вместо '

In [27]:
print(f"""3000 + 50000 = {3000 + 50000}, 3000 - 50000 = {3000 - 50000},
3000 * 50000 = {3000 * 50000}, 3000 ** 2 = {3000 ** 2}""")

3000 + 50000 = 53000, 3000 - 50000 = -47000,
3000 * 50000 = 150000000, 3000 ** 2 = 9000000

Чтобы все выводилось на одной строке в конце первой строки будем ставить $\backslash$

In [28]:
print(f"""3000 + 50000 = {3000 + 50000}, 3000 - 50000 = {3000 - 50000}, \
3000 * 50000 = {3000 * 50000}, 3000 ** 2 = {3000 ** 2}""")

3000 + 50000 = 53000, 3000 - 50000 = -47000, 3000 * 50000 = 150000000, 3000 ** 2 = 9000000

### Пример 2.
При делении целых чисел рекомендуется пользоваться целочисленными операциями деления и вычисления остатка от деления, поскольку обычное деление неизбежно приводит к результату типа float, даже если делимое нацело делится на делитель.

Выведем на экран целую часть от деления 8 на 4 и остаток от деления, а также результат обычного деления 8 на 4.

In [29]:
print(f'8 // 4 = {8 // 4}, 8 % 4 = {8 % 4}, 8 / 4 = {8 / 4}')

8 // 4 = 2, 8 % 4 = 0, 8 / 4 = 2.0

### Пример 3.
У функции print есть необязательный параметр end, по умолчанию равный переводу на новую строку, так что каждый вызов print дает отдельную строку на экране. Если нужно результаты вызова print вывести на одной строке, например, через запятую и пробел, то устанавливаем end=', '.

In [30]:
print(f'8 // 3 = {8 // 3}', end=', ')
print(f'8 % 3 = {8 % 3}', end=', ') 
print(f'8 / 3 = {8 / 3}')

8 // 3 = 2, 8 % 3 = 2, 8 / 3 = 2.6666666666666665

В качестве разделителя между отдельными аргументами print по умолчанию используется пробел, но это можно изменить, используя необязательный параметр sep. Сравните результат с sep=', ' и без.

In [31]:
print(f'8 // 4 = {8 // 4}', f'8 % 4 = {8 % 4}', f'8 / 4 = {8 / 4}')
print(f'8 // 4 = {8 // 4}', f'8 % 4 = {8 % 4}', f'8 / 4 = {8 / 4}', sep=', ')

8 // 4 = 2 8 % 4 = 0 8 / 4 = 2.0
8 // 4 = 2, 8 % 4 = 0, 8 / 4 = 2.0

### Пример 4.
Далее будем пользоваться функцией display() для красивого вывода математических формул там, где это не получается автоматически.
Cравним результат с print.

Посмотрим, как выглядят значения некоторых математических функций из sympy:

In [32]:
display(sqrt(8), sin(pi / 3), atan(0))
print(sqrt(8), sin(pi / 3), atan(0))

2*sqrt(2)

sqrt(3)/2

0

2*sqrt(2) sqrt(3)/2 0

Если нужны приближенные значения, преобразуем выражения в тип float, используя метод evalf()

In [33]:
sqrt(8).evalf()

2.82842712474619

## Символы, символьные выражения
Для аналитических преобразований в sympy используется класс Symbol

https://docs.sympy.org/latest/modules/core.html?highlight=symbol#module-sympy.core.symbol

В этом классе есть метод Symbol для создания одного символа.
### Пример 5.
Создадим символ $x$ и используем его для составления выражения

In [34]:
x = Symbol('x')
expr1 = x + 2 ** x
expr2 = sin(x) / x
expr1 * expr2

(2**x + x)*sin(x)/x

Можно создавать несколько символов сразу.
### Пример 6.
Создадим символы $y$ и $z$ и упростим выражение с ними.
Обратим внимание, что используется symbols, а не Symbol!

In [35]:
y, z = symbols('y z')
y ** 2 + 1 - z * y ** 2 + 5 * z ** 3 - 3 * y ** 2

-y**2*z - 2*y**2 + 5*z**3 + 1

Метод evalf() можно применить и к выражению, содержащему символы, тогда будут вычислены только числовые выражения:

In [36]:
(sqrt(2 * y) + sin(3)).evalf()

1.4142135623731*y**0.5 + 0.141120008059867

### Пример 7.
Создадим символы $x_0,...x_9$ и составим выражение с ними

Здесь используется цикл for со счетчиком i, значения счетчика берутся из диапазона range(start, end, step). По умолчанию start равен 0, step единица, так что если передать только один аргумент, получится последовательность всех целых чисел от 0 до end-1. 

ВАЖНО!!! end не включается в range.

len(X) - длина X, в данном случае число элементов X.

In [37]:
X = symbols('x:10')
display(X)
expr7 = 0
for i in range(len(X)):  
    expr7 += X[i] ** i               
display(expr7)

(x0, x1, x2, x3, x4, x5, x6, x7, x8, x9)

x1 + x2**2 + x3**3 + x4**4 + x5**5 + x6**6 + x7**7 + x8**8 + x9**9 + 1

### Пример 8.
Создадим символы x10,...x21. Обратите внимание, что послений индекс не учитывается, так что пишем x10:22, а не x10:21.

Для красивого вывода используем display, для поэлементного вывода используем $*$ перед именем X10_21 (X10_21 - tuple, состоящий из отдельных символов).

Сравните результат с $*$ и без.

In [38]:
X10_21 = symbols('x10:22')
display(X10_21)
display(*X10_21)

(x10, x11, x12, x13, x14, x15, x16, x17, x18, x19, x20, x21)

x10

x11

x12

x13

x14

x15

x16

x17

x18

x19

x20

x21

## Операции с символьными выражениями: simplify, expand,factor,collect
#### simplify
используется для упрощения выражения
#### expand 
используется для раскрытия скобок
#### factor 
для разложения на множители
#### collect 
для группировки по степеням переменной
### Пример 9.
Создадим выражение $(x-3)^2$  и раскроем скобки.
К полученному выражению применим factor.
Выражение $x+5xy-x^2y^3-x^2$ сгруппируем по степеням $x$. Упростим последнее выражение.

In [39]:
expr9 = (x - 3) ** 2
print('expr9')
display(expr9)

expr9_1 = expand(expr9)
print('expand(expr9)')
display(expr9_1)

expr9_2 = factor(expr9_1)
print('factor(expr9_1)')
display(expr9_2)

expr9_3 = x - 5 * x * y - x ** 2 * y ** 3 - x ** 2
print('collect(expr9_3, x)')
display(collect(expr9_3, x))

expr9_4 = simplify(expr9_3)
print('simplify(expr9_3)')
display(expr9_4)

expr9

(x - 3)**2

expand(expr9)

x**2 - 6*x + 9

factor(expr9_1)

(x - 3)**2

collect(expr9_3, x)

x**2*(-y**3 - 1) + x*(1 - 5*y)

simplify(expr9_3)

x*(-x*y**3 - x - 5*y + 1)

In [40]:
print('factor(x ** 2 + 2 * x * y + y ** 2)')
display(factor(x ** 2 + 2 * x * y + y ** 2))

factor(x ** 2 + 2 * x * y + y ** 2)

(x + y)**2

## Списки и кортежи
Нам понадобятся два итерируемых типа

#### списки list
изменяемый тип
#### кортежи tuple
неизменяемый тип

### Пример 10
создадим кортеж символов:

In [41]:
tup = symbols('c:f')
display(tup, *tup, tup[1])

(c, d, e, f)

c

d

e

f

d

### Пример 11
Создадим  список символов и заменим в нем второй символ на символ $х$.

In [42]:
list_sym = symbols(['m', 'p', 'q', 'r'])
display(list_sym)
list_sym[2] = x
display(list_sym)

[m, p, q, r]

[m, p, x, r]

Если попытаемся заменить элемент кортежа, получим сообщение об ошибке

In [43]:
tup[1] = 1

TypeError: 'tuple' object does not support item assignment

## Вложенные списки

Создадим вложенный список - аналог двумерного массива:

In [ ]:
list2d = [[1, 2], [3, 4]]
display(list2d)
list2d[1][0] = 5
display(list2d)

Индексация во вложенном списке:

$A[i][j]$ - элемент списка $A$, находящийся в $i$-й строке $j$-м столбце

## Матрицы
В sympy есть объекты Matrix

https://docs.sympy.org/latest/tutorial/matrices.html?highlight=matrix

К матрицам можно применять метод det().

У матриц есть свойство shape.

Матрицу можно построить, например, на основе списка:

In [ ]:
M = Matrix(list2d)
display(M)
display(M.det())
M.shape

### Создание матриц определенного вида

Можно создавать матрицы из нулей, единиц и единичные матрицы с помощью встренных функций

In [44]:
display(zeros(2), ones(3), eye(4))

Matrix([
[0, 0],
[0, 0]])

Matrix([
[1, 1, 1],
[1, 1, 1],
[1, 1, 1]])

Matrix([
[1, 0, 0, 0],
[0, 1, 0, 0],
[0, 0, 1, 0],
[0, 0, 0, 1]])

Можно создать диагональную матрицу:

In [ ]:
R = diag(1, 2, ones(3))
R

Matrix([
[1, 0, 0, 0, 0],
[0, 2, 0, 0, 0],
[0, 0, 1, 1, 1],
[0, 0, 1, 1, 1],
[0, 0, 1, 1, 1]])

В матрице можно выделить строку или столбец:

In [45]:
R.row(1)

Matrix([[0, 2, 0, 0, 0]])

In [46]:
R.col(0)

Matrix([
[1],
[0],
[0],
[0],
[0]])

Можно использовать нумерацию "с хвоста":

In [47]:
R.col(-4)

Matrix([
[0],
[2],
[0],
[0],
[0]])

Можно удалить или добавить строку или столбец:

In [48]:
Q = diag(2, 3, 4, 5, 6)
display(Q)
Q.col_del(3)
Q

Matrix([
[2, 0, 0, 0, 0],
[0, 3, 0, 0, 0],
[0, 0, 4, 0, 0],
[0, 0, 0, 5, 0],
[0, 0, 0, 0, 6]])

Matrix([
[2, 0, 0, 0],
[0, 3, 0, 0],
[0, 0, 4, 0],
[0, 0, 0, 0],
[0, 0, 0, 6]])

In [49]:
G = ones(2)
display(G)
G.row_insert(1, zeros(2))

Matrix([
[1, 1],
[1, 1]])

Matrix([
[1, 1],
[0, 0],
[0, 0],
[1, 1]])

Внимание!

col_insert и row_insert НЕ изменяют матрицу, к которой они применяются!!!
col_insert и row_insert возвращают измененную матрицу в качестве результата.

In [ ]:
D = diag(7, 8, 9, 0)
print('D:')
display(D)
T = D.col_insert(1,Matrix([3, 4, 5, 6]))
print('после вставки столбца\nT:')
display(T)
print('D:')
display(D)

### Пригодится

Числа $\pi$ и $e$ есть в Sympy:

In [50]:
display(pi, E)

pi

E

Можем посмотреть на их приближенные значения:

In [51]:
round(pi, 3), round(E, 3)

(3.142, 2.718)